<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sebnarware.avalanche"
    android:versionCode="1"
    android:versionName="1.0 beta 2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.Light" >
        
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/activity_main_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/activity_web_view_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sebnarware.avalanche.MainActivity" />
        </activity>
        <activity
            android:name=".DangerScaleActivity"
            android:label="@string/activity_danger_scale_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sebnarware.avalanche.MainActivity" />
        </activity>
        
    </application>

</manifest>